<!-- Ejemplos de binding. Descomentar para ver. -->
<!--<ejemplos-binding></ejemplos-binding>-->

<!-- Ejemplos de comunicación entre componentes. Descomentar para ver. -->
<!--<ejemplos-componentes></ejemplos-componentes>-->

<!-- Ejemplos de inyección de dependencias. Descomentar para ver. -->
<!--<ejemplos-inyeccion></ejemplos-inyeccion>-->

<div class="container">

    <!-- Título -->
    <header>
        <h1>Mi Agenda</h1>
    </header>

    <!-- Barra de navegación -->
    <nav>
        <ul>
            <li>
                <a routerLink="/mis-contactos"
                routerLinkActive="seleccionado">Mis contactos</a>
            </li>
            <li>
                <a routerLink="/nuevo-contacto"
                routerLinkActive="seleccionado">Nuevo contacto</a>
            </li>
        </ul>
    </nav>

    <!-- Zona dinámica -->
    <router-outlet></router-outlet>

</div>