<div class="row">
    <div class="six columns">
        <!-- Colección de contactos -->
        <lista-contactos
            [contactos]="listaContactos"
            (seleccionado)="mostrarDetalles($event)"></lista-contactos>
    </div>
    <div class="six columns">
        <!-- Detalles del contacto seleccionado -->
        <detalles-contacto
            [contacto]="contactoSeleccionado"
            (verFacebook)="navegarRuta($event)"
            (verTwitter)="navegarRuta($event)"></detalles-contacto>
    </div>
</div>



